// Color
$color-white: #fff;
$color-black: #292D3A;
$color-gray: #EAEAEB;
$color-green: #007934;
$color-red: #F26531;
$color-yellow: #EACA4D;

// Breakpoints
$sm: 910px;
$xs: 767px;

// Padding
$padding-lg: 48px;
$padding-sm: 32px;



